
.content {
    background-color: white;
    max-width: 120rem;
    margin: 0.4rem auto;
    display: flex;
}

.navbar {
    overflow: hidden;
}


.sidebar {
    background-color: #404040;
    text-transform: uppercase;
    flex: 0 0 15%;
    text-decoration:none;

}

.side-nav {
    margin-top: 1rem;
    display: flex;
}

ul.side-nav {
    list-style: none;
    font-size: 1.2rem;
}

.content-view {
    background-color: whitesmoke;
    flex: 1;
}
