.navbar {
    overflow: hidden;
}

.content {
    max-width: 120rem;
    margin: 0.4rem auto;
    background-color: whitesmoke;
    flex: 1;
  
}

.sidebar {
    background-color: #404040;
    text-transform: uppercase;
    flex: 0 0 15%;
    text-decoration:none;

}

.side-nav {
    margin-top: 2rem;
}

ul.side-nav {
    font-size: 1.2rem;
    text-decoration: none;
}


